hr {
  margin: 0;
}

img {
  width: 40;
  height: 40;
  margin-top: 10;
}

label {
  font-weight: 400;
}

.form-check {
  font-size: x-large;
  font-weight: 100;
}

.titleblock {
  display: flex;
}
  
.form-check {
  padding-left: 10;
}

.buttons {
  margin-left: 10;
}

#ids {
  margin: 10;
  width: 60%;
  display: none;
}

#text:checked ~ #ids { display: block }